main {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    font-family: 'Inter', sans-serif;
}

.welcome-container {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-left: 220px;
    margin-right: 100px;
    border-radius: 8px;
}

.welcome-container h1 {
    text-align: left;
    font-size: 40px;
    color: #000;
}

.welcome-container p {
    text-align: left;
    text-align: justify;
    font-size: 22px;
    line-height: 1.7;
    color: #4E4E4E;
    margin-left: 20px;
    margin-right: 250px;
}

.what-container {
    background: white;
    padding: 20px;
    margin-left: 230px;
    margin-right: 360px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.what-container h2 {
    text-align: left;
    font-size: 30px;
    color: #245056;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.offer-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 70px;
}

.offerland {
    border: #000 0.5px solid;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px;
}

.offerdev {
    border: #000 0.5px solid;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding: 5px 10px;
}

.board-container {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 8px;

}

.board-container h2 {
    text-align: left;
    color: #245056;
    font-size: 30px;
}

.board-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.member {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.member:hover {
    transform: scale(1.05);
}

.member h3 {
    color: #245056;
    margin-bottom: 5px;
}

.member p {
    color: #7f8c8d;
}


.authorized-container {
    background: white;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-bottom: #b8b8b8 0.5px solid;
    margin-left: 100px;
    justify-content: center;
}

.authorized-container h2 {
    text-align: left;
    color: #253732;
    margin-top: 100px;
    margin-left: 150px;
}
.authorized-container img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 150px;
}

.authorized-container p {
    text-align: left;
    color: #000;
    font-weight: 400;
    margin-left: 650px;
    margin-top: -70px;
    text-align: justify;
    margin-right: 550px;
    font-size: 21px;
    line-height: 1.7; 
}

.authorized-container a {
    text-align: left;
    color: #000;
    font-weight: 300;
    margin-left: 650px;
    text-align: justify;
    margin-top: -50px;
    font-size: 15px;
}

.partners-container {
    background: white;
    margin-left: 100px;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.partners-container h2 {
    text-align: left;
    color: #253732;
    margin-left: 150px;
}

.partners-logos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    justify-items: center;
}

.partners-logos img {
justify-content: center;
}

@media (max-width: 768px) {
    main {
        width: 95%;
    }
    .board-members {
        flex-direction: column;
        align-items: center;
    }
    .partners-logos {
        flex-wrap: wrap;
    }
}
