nav {
    background: transparent;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.search__container {
    margin-top: 100px;
    margin-bottom: 30px;
}

.search__title {
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.search__wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 50px;
    border: 2px solid #ddd;
    padding: 5px;
    width: 500px;
    position: relative;
    padding-right: 50px;
}

.search__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    width: 100%;
    background: transparent;
}

.search__button {
    width: 50px;
    height: 50px;
    background-color: #026b5d;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;
}

.search__button:hover {
    background-color: #014f43;
}

.search__button img {
    width: 40px;
    height: 35px;
    filter: invert(100%);
}

.header {
    background: url('../images/Riyadh.jpg') center/cover no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
}

.login button {
    background: none;
    border: none;
    color: #245056;
    font-size: 17px;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
}

.login a {
    color: #245056 !important;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
}

.login a:hover {
    text-decoration: underline;
}

.register button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #026b5d;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.register button:hover {
    background-color: #014f43;
}

.nav-links a,
.registeration a {
    color: white !important;
    text-decoration: none !important;
    font-size: 16px;
}

.nav-links a:hover,
.registeration a:hover {
    text-decoration: none !important;
}
